<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; background-color:#198754 ;">
            <div class="row g-0" >
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../assets/img/imglogin.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Now  
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-anchor"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v12m-8 -8a8 8 0 0 0 16 0m1 0h-2m-14 0h-2" /><path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
                        Tico</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesion con tu cuenta</h5>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="form2Example17" class="form-control form-control-lg" name="username" [(ngModel)]="loginRequest.username" />
                      <label class="form-label" for="form2Example17">Numero DNI</label>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" [(ngModel)]="loginRequest.password"/>
                      <label class="form-label" for="form2Example27">Contraseña</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="button" (click)="login()">Acceder</button>
                    </div>
                    <div class="pt-1 mb-4">
                        <a routerLink="/">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg btn-block" type="button" >Ir a la pagina principal</button>
                        </a>
                        &nbsp;
                        <a routerLink="/register/true">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg btn-block" type="button" >Registrarse</button>
                      </a>
                      </div>
  
                  </form>
                </div>
            </div>
        </div>
    </div>
    <br>
        </div>
      </div>
    </div>
  </section>